.vs/ProvaC/FileContentIndex/486dce27-e26f-4fcb-ae2f-eec5b45f7eb4.vsidx
.vs/ProvaC/FileContentIndex/c5617ffe-2c1a-4ce3-ae2a-4675df1a3d87.vsidx
.vs/ProvaC/FileContentIndex/e1eb5ad0-3040-40c9-9e71-a5994e876ef9.vsidx
.vs/ProvaC/FileContentIndex/read.lock
.vs/ProvaC/v17/Browse.VC.db
.vs/ProvaC/v17/Browse.VC.db-shm
.vs/ProvaC/v17/Browse.VC.db-wal
.vs/ProvaC/v17/Browse.VC.opendb
.vs/ProvaC/v17/ipch/AutoPCH/51b70bb967f663e3/PROVAC.ipch
.vs/ProvaC/FileContentIndex/74b23034-73c5-4730-ab1a-ba1d6acb0a15.vsidx
.vs/ProvaC/FileContentIndex/d786635d-60e1-427d-a253-7be0cba24268.vsidx
.vs/ProvaC/v17/ipch/AutoPCH/d1e748d122105bc7/PROVAC.ipch
